* {
    margin: 0;
}

header {
    padding: 20px 25px;
}

header h1 {
    font-size: 46px;
    font-weight: 900;
    color: black;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 25px;
}

section.side_nav {
    border-right: 1px solid black;
    border-radius: 35px;
    width: 15%;
    background-color: red;
    padding: 0;
}

section.side_nav ul {
    list-style: none;
}

section.side_nav ul li {
    padding: 0px 0px;
    margin-top: 35px;
}

section.side_nav ul li a {
    color: black;
    font-size: 26px;
    text-decoration: none;
}

section.hero {
    width: 100%;
    min-height: 460px;
    border-radius: 35px;
    padding-bottom: 10px;
    box-shadow: -2px 2px 4px #AAAA;
}

section.hero .dept_nav {
    border-bottom: 1px solid #1E2875;
    padding: 19px 0px 20px 0px;
}

section.hero .dept_nav a span {
    padding: 20px 25px;
    color: #AAAA;
    font-size: 18px;
    font-weight: 700;

}

section.hero .dept_nav a {
    text-decoration: none;
    color: #AAAA;
}

section.hero .dept_nav a span.active {
    background-color: #1E2875;
    color: white;
}

section.hero .dept_nav a span.active1 {
    border-top-left-radius: 35px;
    background-color: #1E2875;
    color: white;
}

section.hero .card_wrapper {
    padding: 20px 20px;
}

section.hero .card_wrapper .header_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.hero .card_wrapper .header_div h3 {
    font-size: 36px;
    color: #AAAA;
    text-transform: capitalize;
}

/* section.hero .card_wrapper .header_div button {
    font-size: 22px;
    border: 1px solid #1E2875;
    padding: 10px 20px;
    background: #1E2875;
    border-radius: 15px;
    color: white;
}

section.hero .card_wrapper .header_div button:hover {
    line-height: 25px;
    background: white;
    color: #1E2875;
} */

.card_wrapper table {
    border-collapse: collapse;
    margin: 15px 0;
    font-size: 14px;
    font-weight: 400;
    color: #545F7D;
    min-width: 100%;
    background-color: #ffff;
    /* // border-radius: 10px;
    // overflow: hidden; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.card_wrapper table thead {
    background: #C3C4CE;
    border-radius: 15px;
}

.card_wrapper table thead tr {
    text-align: left;
    border-radius: 15px !important;
}

.card_wrapper table thead tr th {
    padding: 12px 15px;
    text-transform: uppercase;
    font-size: 12px;
}

.card_wrapper table tbody {
    background-color: #F4F4F8;
}

.card_wrapper table tbody tr {
    background-color: #F4F4F8;
    border-top: 2px solid #ffff;
}

.card_wrapper table tbody tr td {
    padding: 12px 15px;
    font-size: 16px;
    font-weight: 600;
    position: relative;
}

/* .card_wrapper table tbody tr td button {
    padding: 5px 7px;
    border-radius: 10px;
    border: 1px solid #1E2875;
    background: none;
    font-size: 16px;
    font-weight: 400;
    color: #1E2875;
}

.card_wrapper table tbody tr td button:hover {
    line-height: 15px;
    background: #1E2875;
    color: white;
}

.card_wrapper table tbody tr td a {
    text-decoration: none;
    color: red;
}

.card_wrapper table tbody tr td a:hover {
    color: rgb(177, 90, 90);
} */


/* 
.modal_container {
    background-color: #C3C4CE;
    padding: 20px 20px;
    width: 250px;
    border-radius: 20px;
    display: none;
    position: absolute;
    top: 240px;
    left: 520px;
}


.modal_container form p {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;

}

.modal_container form input {
    width: 220px;
    height: 30px;
    border-radius: 25px;
    border: none;
    outline: none;
    padding-left: 25px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.modal_container form select {
    width: 250px;
    height: 30px;
    border-radius: 25px;
    border: none;
    outline: none;
    padding-left: 20px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.modal_container form button {
    font-size: 18px;
    padding: 6px 0px;
    width: 100%;
    border-radius: 25px;
    border: none;
    margin-bottom: 20px;
    color: white;
    background: #1E2875;

}

.modal_container form button:hover {
    color: #1E2875;
    background: white;
}

.modal_container .cancel_btn {
    font-size: 18px;
    font-weight: 400;
    padding: 6px 0px;
    width: 100%;
    border-radius: 25px;
    border: none;
    margin-bottom: 20px;

}

.modal_container .cancel_btn:hover {
    font-weight: 700;
    color: red;
}

.modal_container form .button_wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.modal_container form .button_wrapper button {
    width: 70px;
    padding: 10px 0;
    border-radius: 15px;

}

.new_stock {
    background-color: #C3C4CE;
    padding: 20px 20px;
    width: 250px;
    border-radius: 20px;
    display: none;
    position: absolute;
    top: 240px;
    left: 520px;
}

.new_stock form input {
    width: 220px;
    height: 30px;
    border-radius: 25px;
    border: none;
    outline: none;
    padding-left: 25px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.new_stock form select {
    width: 250px;
    height: 30px;
    border-radius: 25px;
    border: none;
    outline: none;
    padding-left: 20px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.new_stock form button {
    font-size: 18px;
    padding: 6px 0px;
    width: 100%;
    border-radius: 25px;
    border: none;
    margin-bottom: 20px;
    color: white;
    background: #1E2875;

}

.new_stock form button:hover {
    color: #1E2875;
    background: white;
}

.new_stock .cancel_btn {
    font-size: 18px;
    padding: 6px 0px;
    width: 100%;
    border-radius: 25px;
    border: none;
    margin-bottom: 20px;
}

.new_stock .cancel_btn:hover {
    font-weight: 700;
    color: red;
}

.background_wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(30, 40, 117, 0.5);
    backdrop-filter: blur(5px);
    display: none;
} */

footer {
    text-align: center;
}