{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="{% static './css/dept1.css' %}" rel="stylesheet">
    
</head>

<body>
    <header>
        <a href="{% url 'store:index' %}" class="header_wrapper">
            <img src="{% static './assets/fmc_owo_logo.jpg' %}" alt="">
            <h1>FMC OWO STORE</h1>
        </a>
        {% if user.is_authenticated %}
        <span class="logout"><a href="{% url 'store:logout' %}">logout</a></span>
        {% else %}
        <span class="login"><a href="{% url 'store:login' %}">login</a></span>
        {% endif %}
    </header>
    <main>
        <!-- <section class="side_nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">dept 1</a></li>
                <li><a href="#">dept 2</a></li>
                <li><a href="#">dept 3</a></li>
                <li><a href="#">dept 4</a></li>
            </ul>
        </section> -->

        <section class="hero">


            <div class="dept_nav">
                <a href="/"><span class="active1">Home</span></a>
                <!-- {% for dept in dept %}
                <a href="/dept/{{dept.dept_name}}"><span>{{dept.dept_name}}</span></a>
                {% endfor %} -->
            </div>

            <div class="card_wrapper">
                {% for message in messages %}
                <h5 style="color: red;">{{message}}</h5> 
                {% endfor %}
                <div class="header_div">
                    <h3>items</h3>
                    <div class="wrapper">
                        <button onclick="handleNewStock()">+ New Stock</button>
                        <a href="/history"><img src="{% static './assets/Calendar.svg'%}" alt=""></a>
                        <img onclick="showFilterModal()" src="{% static './assets/filterIcon.svg' %}""" alt="">
                    </div>
                </div>

                <div class="items_wrapper">

                    <table>
                        <thead>
                            <tr>
                                <th>Item name</th>
                                <th>Amount in store</th>
                                <th>Action</th>
                                <th>Unit issue</th>
                                <th>Unit rate</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for item in items %}
                                
                                
                                    
                                    <tr>
                                        <td><a class="name" href="/history/{{item.slug}}">{{item.item_name}}</a></td>
                                        <td>{{item.amount}}</td>
                                        <td>
                                            <button onclick="showIssueModal('{{item.item_name}}')">
                                                issue</button> | 
                                            <button onclick="showSupplierModal('{{item.item_name}}')">
                                                receive</button>
                                        </td>
                                        <td>kg</td>
                                        <td>150</td>
                                        <td class="remove">
                                            <!-- <a>edit</a> -->
                                            <a href="/delete/{{ item.item_id }}"><img src="{% static './assets/deleteIcon.svg' %}" alt=""></a></td>
                                    </tr>
                                   
                                
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <Span>Forklift &copy2023</Span>
    </footer>

    <div class="background_wrapper">

    </div>

    <div class="modal_container issue_modal_container">
        <form method="post" action="/dept">
            {% csrf_token %}
            <input id="modalNameInput" type="text" name="input_name" value="Paracetamol">
            <input id="" type="text" name="input_voucher" placeholder="Voucher no">
            <select name="input_dept_name" id="">
                <option value="">select department</option>
                {% for dept in department %}
                    <option value={{dept.dept_name}}>{{dept.dept_name}}</option>
                {% endfor %}
            </select>
            <input type="number" name="input_amount" placeholder="amount">
            <select name="op_type" id="">
                <option value="subtract">subtract</option>
            </select>
            <input type="text" name="input_unit_issue" value="kg" placeholder="unit issue">
            <input type="text" name="input_unit_rate" value="150" placeholder="unit rate">
            <button>submit</button>
        </form>
        <button id="cancelBtn" class="cancel_btn" onclick="closeIssueModal()">cancel</button>
    </div>

    <div class="modal_container supplier_modal_container">
        <form method="post" action="/dept">
            {% csrf_token %}
            <input id="modalNameInput" type="text" name="input_name" value="Paracetamol">
            <input id="" type="text" name="input_voucher" placeholder="Voucher no">
            <input placeholder="supplier name" type="text" name="input_supplier_name">
            <input type="number" name="input_amount" placeholder="amount">
            <select name="op_type" id="">
                <option value="add">add</option>
            </select>
            <input type="text" name="input_unit_issue" value="kg" placeholder="unit issue">
            <input type="text" name="input_unit_rate" value="150" placeholder="unit rate">
            <button>submit</button>
        </form>
        <button id="cancelBtn" class="cancel_btn" onclick="closeSupplierModal()">cancel</button>
    </div>

    <div class="new_stock">
        <form method="post" action="/newstock">
            {% csrf_token %}
            <input id="modalNameInput" type="text" name="item_name" placeholder="Item name">
            <input type="number" name="item_amount" placeholder="amount">
            <input id="input_unit_issue" type="text" name="input_unit_issue" placeholder="unit of isue">
            <input id="input_unit_rate" type="number" name="input_unit_rate" placeholder="unit rate">
            <!-- <select name="dept" id="">
                <option value="{{active_dept}}">{{active_dept}}</option>
            </select> -->
            <button>submit</button>
        </form>
        <button id="cancelNewStock" class="cancel_btn" onclick="closeNewStockModal()">cancel</button>
    </div>

    <div class="filter_container">
        <form method="get" action="">
            <input id="modalItemNameInput" type="text" name="item_name" placeholder="Item Name">
            <input id="modalMinAmtInput" type="number" min=1 name="min_amnt" placeholder="Min amnt">
            <input id="modalMaxAmtInput" type="number" min=1 name="max_amnt" placeholder="Max amnt">
            <input id="modalIssueUnitInput" type="text" name="issue_unit" placeholder="Issue Unit">
            <!-- <input id="modalRateUnitInput" min=1 type="number" name="rate_unit" placeholder="Rate of Unit"> -->
            
            
            <button>submit</button>
        </form>
        <button id="cancelBtn" class="cancel_btn" onclick="closeFilterModal()">cancel</button>
    </div>
    <script src="{% static './js/dept1.js' %}"></script>
</body>

</html>